<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="/"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Increa CRM</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">
    Navigation
  </div>

  <!-- Nav Item -->
  <li class="nav-item">
    <a class="nav-link" href="/leads">
      <i class="fas fa-fw fa-table"></i>
      <span>Leads</span></a
    >
  </li>

  <% if (user && (user.role === 'admin' || user.role === 'superadmin')) { %>
  <!-- Nav Item -->
  <li class="nav-item">
    <a class="nav-link" href="/admin/users">
      <i class="fas fa-fw fa-users"></i>
      <span>Users</span></a
    >
  </li>
  <% } %> <% if (user && (user.role === 'admin' || user.role === 'superadmin'))
  { %>
  <!-- Nav Item -->
  <li class="nav-item">
    <a class="nav-link" href="/admin/clients">
      <i class="far fa-address-card"></i>
      <span>Clients</span></a
    >
  </li>
  <% } %>

  <!-- Nav Item -->
  <li class="nav-item">
    <a class="nav-link" href="/admin/settings">
      <i class="fas fa-fw fa-cog"></i>
      <span>Settings</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->
